
@font-face {
  font-family: 'CutiePatootieSkinny';
  src: url('CutiePatootieSkinny.eot?#iefix') format('embedded-opentype'),  url('CutiePatootieSkinny.woff') format('woff'), url('CutiePatootieSkinny.ttf')  format('truetype'), url('CutiePatootieSkinny.svg#CutiePatootieSkinny') format('svg');
  font-weight: normal;
  font-style: normal;
}
