@font-face {
    font-family: 'Dalgona';
    src: url('font/dalgona/Dalgona.eot?#iefix') format('embedded-opentype'),  url('font/dalgona/Dalgona.woff') format('woff'), url('font/dalgona/Dalgona.ttf')  format('truetype'), url('font/dalgona/Dalgona.svg#Dalgona') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'MountainBridgeRegular';
    src: url('font/mountain/MountainBridgeRegular.eot?#iefix') format('embedded-opentype'),  url('font/mountain/MountainBridgeRegular.otf')  format('opentype'),
           url('font/mountain/MountainBridgeRegular.woff') format('woff'), url('font/mountain/MountainBridgeRegular.ttf')  format('truetype'), url('font/mountain/MountainBridgeRegular.svg#MountainBridgeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Cookie-Regular';
    src: url('font/cookie/Cookie-Regular.eot?#iefix') format('embedded-opentype'),  url('font/cookie/Cookie-Regular.woff') format('woff'), url('font/cookie/Cookie-Regular.ttf')  format('truetype'), url('font/cookie/Cookie-Regular.svg#Cookie-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Alleyster';
    src: url('font/alleyster/Alleyster.eot?#iefix') format('embedded-opentype'),  url('font/alleyster/Alleyster.woff') format('woff'), url('font/alleyster/Alleyster.ttf')  format('truetype'), url('font/alleyster/Alleyster.svg#Alleyster') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'CutiePatootieSkinny';
    src: url('font/cuti/CutiePatootieSkinny.eot?#iefix') format('embedded-opentype'),  url('font/cuti/CutiePatootieSkinny.woff') format('woff'), url('font/cuti/CutiePatootieSkinny.ttf')  format('truetype'), url('font/cuti/CutiePatootieSkinny.svg#CutiePatootieSkinny') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  
body
{
    font-family: arial, georgia;
    margin: 0;
    height: 100%;

}
ul
{
	list-style-type: none;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    height: 20%;
    background-color: #579C87;
}
.logo {
    color: #FCCA46;
    font-size: 5em;
    display: flex;
    justify-content: center;
    padding-top: 40px;  
}

/*********************/
/********ACCEUIL********/
/*********************/

.nav__link_1 {
    background-color: #FCDFDB;
    width: 40%;
    height: 750px;
    margin-left: 7%;
    box-shadow: grey 0px 0px 20px;
    font-family: dalgona;
}

.nav__link_2 {
    background-color:#FFF5FE;
    width: 40%;
    height: 750px;
    margin-left: 5%;
    box-shadow: grey 0px 0px 20px;
    font-family: Alleyster;
}
.nav__link_2 h2 {
    background: -webkit-linear-gradient(20deg,#d98330 40%, #8f5aff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}
.nav__link_2 h3 {
    background: -webkit-linear-gradient(20deg,#d98330 40%, #8f5aff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}
.nav__link_3 {
    background-color:#F9F9F9;
    width: 40%;
    height: 750px;
    margin-left: 7%;
    margin-top: 50px;
    box-shadow: grey 0px 0px 20px;
    font-family: cookie;
}
.nav__link_3 h3 {
    background: linear-gradient(20deg,#2549e2 40%, #2495fb 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}
.nav__link_3 h2 {
    background: linear-gradient(20deg,#2549e2 40%, #2495fb 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}
.nav__link_4 {
    background-color:#FDFFFD;
    width: 40%;
    height: 750px;
    margin-left: 5%;
    margin-top: 50px;
    box-shadow: grey 0px 0px 20px;
    font-family: MountainBridgeRegular;
}
.nav__link_4 h3 {
    background: linear-gradient(90deg,#43973d 40%, #e2fcc3 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}
.nav__link_4 h2 {
    background: linear-gradient(90deg,#43973d 40%, #e2fcc3 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}
.nav__link_1, .nav__link_2 {
    display: inline-block;
    vertical-align: top;
    margin-top: 5%;
}
.nav__link_3, .nav__link_4 {
    display: inline-block;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 15%;
}

button {
    background-color: #579C87;
    display: block;
    position: absolute;
}
.nav h3{
    font-family: CutiePatootieSkinny;
}
#fa{
   display: flex;
   justify-content: center;
   background: linear-gradient(90deg,#f05461 40%, #f6926b 60%);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}
.nav, h2, h3 {
    font-size: 1.6em;
    line-height: 10px;
}
.nav h2 {
    
    margin-top: 250px;
}
.nav i{
    margin-top: 50px;
}
.nav__link_1 h2, h3{
    margin-top: 100px;
    color: #3C1218;
}
/*********************/
/********FOOTER********/
/*********************/

footer {
    width: 100%;
    height: 15%;
    background-color: #579C87;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
}
.btn {
    border-radius: 10px;
    border: none;
    color: #FCCA46;
    font-size: 2.5em;
}
.point {
    display: flex;
    width: 500px;
    padding-left: 800px;
    margin-top: 55px;

}
.mention {
    color: #FCCA46;
    font-size: 2.5em;
    font-family: arial, georgia;
    text-decoration: none;
    margin-right: 60%;
    padding-top: 50px;
}
.contact {
    color: #FCCA46;
    font-size: 2.5em;
    font-family: arial, georgia;
    text-decoration: none;
    padding-top: 50px;
}

/*********************/
/********MENU1********/
/*********************/


.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FCDFDB;
    width: 75%;
    margin: auto;
    /*font-size: 1.2em;*/
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 10%;
}
.menu i {
    background: linear-gradient(90deg,#f05461 40%, #f6926b 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}
titre {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5em;
    display: flex;
    justify-content: center;   
}
.col_menu{
    display: flex;
}
.plats {
	width: 80%;
	margin-top: 20px;
    line-height: 45px;
}
.prix { 
    width: 50px;	
    text-align: right;
    line-height: 45px; 
}
menu, h2, h3, p, i {
    text-align: center;
    color: #3C1218;
    font-family: dalgona;
}
menu, li {
    font-family: CutiePatootieSkinny;
    font-size: 1.5em;
}
.menu h2 {
    font-size: 3em;
}
/*********************/
/********MENU2********/
/*********************/

.menu_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:#FFF5FE;
    width: 75%;
    margin: auto;
    font-size: 1.2em;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 10%;
    background: linear-gradient(180deg,#d98330 0%, #8f5aff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}
.menu_2 h3, h2 {
    font-family: Alleyster;
}
.menu_2 li {
    font-family: serif;
}
.menu_2 h2 {
    font-size: 3em;
    background: -webkit-linear-gradient(20deg,#d98330 30%, #8f5aff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}
/*********************/
/********MENU3********/
/*********************/

.menu_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:#EDEFEF;
    width: 75%;
    margin: auto;
    font-size: 1.2em;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 10%;
}
.menu_3 h3, h2 {
    font-family: cookie;
}
.menu_3 h2 {
    font-size: 3em;
    background: linear-gradient(90deg,#2549e2 40%, #2495fb 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}

/*********************/
/********MENU4********/
/*********************/

.menu_4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:#FDFFFD;
    width: 75%;
    margin: auto;
    font-size: 1.2em;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 10%;
    
}
.menu_4 h3, h2 {
    font-family: MountainBridgeRegular;
}
.menu_4 h2 {
    font-size: 3em;
    background: linear-gradient(90deg,#43973d 40%, #e2fcc3 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}

/*********************/
/********ANIM********/
/*********************/
@keyframes headshake {
    40% {
        transform: translateX(3%);
    }
    75% {
        transform: translateX(3%);
    }
}
@keyframes zoom {
    0%{
        width: 40%;
        height: 750px;
    }
    100%{
        width: 1000px;
        height: 1000px;
    }
}    
@keyframes slide {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 20%;
    }
}
@keyframes slide_2 {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 5%;
    }
}
@keyframes slide_3 {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 5%;
    }
}
@keyframes line {
    0% {
        border-bottom: 2px solid white;
    }
    100% {
        border-bottom: 2px solid white;
        border-width: 10px;
    }
}
.circle_1, .circle_2, .circle_3 {
    width: 20px;
    height: 20px;
    background: grey;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}
.soon {
    display: flex;
    margin-bottom: 250px;
    vertical-align: top;
    justify-content: center;
}
.mention:hover{
    animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 2;
    animation-iteration-count: 3;
}
.contact:hover{
    animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 2;   
}
section:hover .circle_1 {
        animation-duration: 1s;
        animation-name: slide;
        animation-iteration-count: 2;
        animation-direction: alternate;
}
section:hover .circle_2 {
    /*transition-delay: 1s;*/
    animation-duration: 1s;
    animation-name: slide_2;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
section:hover .circle_3 {
    /*transition-delay: 1s;*/
    animation-duration: 1s;
    animation-name: slide_3;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
/*.title:hover {
    animation: line 5s infinite;
    animation-timing-function: linear;
}
.title:hover{
    animation: border-bottom-animation 4s;
}*/

.title {
    text-decoration: none;
    position: relative;
  }
  
  .title::after {
    content: "";
    position: absolute; 
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background: coral;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: .3s ease-in-out;
  }
  
  .title:hover::after {
    transform: scaleX(1);
  }