
@font-face {
  font-family: 'Dalgona';
  src: url('Dalgona.eot?#iefix') format('embedded-opentype'),  url('Dalgona.woff') format('woff'), url('Dalgona.ttf')  format('truetype'), url('Dalgona.svg#Dalgona') format('svg');
  font-weight: normal;
  font-style: normal;
}
