
@font-face {
  font-family: 'Cookie-Regular';
  src: url('Cookie-Regular.eot?#iefix') format('embedded-opentype'),  url('Cookie-Regular.woff') format('woff'), url('Cookie-Regular.ttf')  format('truetype'), url('Cookie-Regular.svg#Cookie-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
